@import "~bulma/bulma";
@import "~bulma-tooltip/src/sass";

.content table td {
  vertical-align: middle;
}

em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
}

div.dropdown-item[role="menuitem"] {
  cursor: pointer;

  &:hover {
    background: $menu-item-hover-background-color;
  }
}
