@import "~bulmaswatch/darkly/bulmaswatch";
@import "~bulma-tooltip/src/sass";

.button.is-static {
  color: $grey-darker;
}

th.is-narrow {
  width: 1px;
}

th.is-sortable {
  cursor: pointer;
}

// Fix tooltips that are in table headers
th > [data-tooltip]:before {
  font-weight: normal;
}

// For some reason Bulma wants table contents top aligned
.content table td {
  vertical-align: middle;
}

// Make em now be a tooltip vessel
em {
  font-style: normal;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-underline-offset: 1px;
}

div.dropdown-item[role="menuitem"] {
  cursor: pointer;

  &:hover {
    background: $menu-item-hover-background-color;
  }
}

.navbar {
  border-radius: 0;
}

.search {
  display: flex;
  justify-content: center;
}

.search-body {
  position: relative;
  flex-grow: 0;

  .field {
    margin-bottom: 0;
  }
}

.search-result {
  position: absolute;
  top: calc(100% - 1px);
  left: 0;
  right: 0;
  z-index: 100;

  background: $table-background-color;
  border: 1px solid $input-border-color;
  border-radius: $radius;

  @extend .has-shadow;
}

.search-result-item {
  display: flex;
  align-items: center;
  padding: .2rem;

  &:nth-child(2n) {
    background: $table-striped-row-even-background-color;
  }

  &:hover {
    background: $table-row-active-background-color;
    color: $table-row-active-color;
    cursor: pointer;
  }

  > img {
    margin-right: 5px;
    width: 24px;
  }
}

.search-result-name {
  flex-grow: 1;
}

.search-result-type {
  flex-grow: 0;
}
